// Colors
$color-primary-1: #19216c;
$color-primary-2: #2d3a8c;
$color-primary-3: #35469c;
$color-primary-4: #4055a8;
$color-primary-5: #4c63b6;
$color-primary-6: #647acb;
$color-primary-7: #7b93db;
$color-primary-8: #98aeeb;
$color-primary-9: #bed0f7;
$color-primary-10: #e0e8f9;
$color-neutral-1: #1f2933;
$color-neutral-2: #323f4b;
$color-neutral-3: #3e4c59;
$color-neutral-4: #52606d;
$color-neutral-5: #616e7c;
$color-neutral-6: #7b8794;
$color-neutral-7: #9aa5b1;
$color-neutral-8: #cbd2d9;
$color-neutral-9: #e4e7eb;
$color-neutral-10: #f5f7fa;
$color-supporting-yelow-1: #8d2b0b;
$color-supporting-yelow-2: #b44d12;
$color-supporting-yelow-3: #cb6e17;
$color-supporting-yelow-4: #de911d;
$color-supporting-yelow-5: #f0b429;
$color-supporting-yelow-6: #f7c948;
$color-supporting-yelow-7: #fadb5f;
$color-supporting-yelow-8: #fce588;
$color-supporting-yelow-9: #fff3c4;
$color-supporting-yelow-10: #fffbea;
$color-white: #fff;

// Fonts
$ff-primary: "Lato", sans-serif;
$ff-secondary: "Open Sans", sans-serif;
